# Your Medusa backend, should be updated to where you are hosting your server. Remember to update CORS settings for your server. See – https://docs.medusajs.com/usage/configurations#admin_cors-and-store_cors
MEDUSA_BACKEND_URL=https://basic-medusa-production.up.railway.app

# Your publishable key that can be attached to sales channels. See - https://docs.medusajs.com/development/publishable-api-keys
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_test

# Your store URL, should be updated to where you are hosting your storefront.
NEXT_PUBLIC_BASE_URL=http://localhost:8000


# Your preferred default region. When middleware cannot determine the user region from the "x-vercel-country" header, the default region will be used. ISO-2 lowercase format. 
NEXT_PUBLIC_DEFAULT_REGION=us


# Your Next.js revalidation secret. See – https://nextjs.org/docs/app/building-your-application/data-fetching/fetching-caching-and-revalidating#on-demand-revalidation
REVALIDATE_SECRET=supersecret


STORE_CORS=https://rou-testing.vercel.app/dk

AUTH_CORS=https://rou-testing.vercel.app/dk


MEILISEARCH_HOST=https://ms-ba238a36478c-18696.fra.meilisearch.io
MEILISEARCH_API_KEY=5f2852ead3ef2f89ad535218652841a2882dcdd0
NEXT_PUBLIC_INDEX_NAME=products

NEXT_PUBLIC_FEATURE_SEARCH_ENABLED=true
